Ptolemy/wsdl/geo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:geoService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:geoService" xmlns:intf="urn:geoService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on May 10, 2006 (03:28:11 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="urn:geoService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getTransactionHistory">
    <complexType>
     <sequence>
      <element name="webService" type="xsd:string"/>
      <element name="Api" type="xsd:string"/>
      <element name="Type" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTransactionHistoryResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getTransactionHistoryReturn" type="impl:History"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="History">
    <sequence>
     <element name="applicationID" nillable="true" type="xsd:string"/>
     <element name="duration" nillable="true" type="xsd:string"/>
     <element name="msTime" type="xsd:long"/>
     <element name="results" nillable="true" type="xsd:string"/>
     <element name="search" nillable="true" type="xsd:string"/>
     <element name="time" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getHistory">
    <complexType>
     <sequence>
      <element name="api" type="xsd:int"/>
      <element name="type" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getHistoryResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getHistoryReturn" type="impl:History"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStateList">
    <complexType>
     <sequence>
      <element name="stateName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStateListResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getStateListReturn" type="impl:geoCoordinates"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="geoCoordinates">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="countryCode" nillable="true" type="xsd:string"/>
     <element name="distance" type="xsd:double"/>
     <element name="featureCode" nillable="true" type="xsd:string"/>
     <element name="general" nillable="true" type="xsd:string"/>
     <element name="latitude" type="xsd:double"/>
     <element name="longitude" type="xsd:double"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="postalCode" nillable="true" type="xsd:string"/>
     <element name="searchCriteria" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="GeowsException">
    <sequence/>
   </complexType>
   <element name="fault" type="impl:GeowsException"/>
   <element name="getCountryList">
    <complexType>
     <sequence>
      <element name="countryName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCountryListResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCountryListReturn" type="impl:geoCountry"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="geoCountry">
    <sequence>
     <element name="capital" nillable="true" type="xsd:string"/>
     <element name="continent" nillable="true" type="xsd:string"/>
     <element name="fipsCode" nillable="true" type="xsd:string"/>
     <element name="isoAlpha2" nillable="true" type="xsd:string"/>
     <element name="isoAlpha3" nillable="true" type="xsd:string"/>
     <element name="isoNumeric" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getDistance">
    <complexType>
     <sequence>
      <element name="baseGeoCode" type="impl:geoCoordinates"/>
      <element maxOccurs="unbounded" name="targetGeoCodes" type="impl:geoCoordinates"/>
      <element name="MeasurementUnit" type="xsd:string"/>
      <element name="ProviderID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDistanceResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getDistanceReturn" type="impl:geoCoordinates"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLocationByPostalCode">
    <complexType>
     <sequence>
      <element name="sourceGeoCode" type="impl:geoCoordinates"/>
      <element name="ProviderID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLocationByPostalCodeResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getLocationByPostalCodeReturn" type="impl:geoCoordinates"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLocationBySearch">
    <complexType>
     <sequence>
      <element name="sourceGeoCode" type="impl:geoCoordinates"/>
      <element name="ProviderID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLocationBySearchResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getLocationBySearchReturn" type="impl:geoCoordinates"/>
     </sequence>
    </complexType>
   </element>
   <element name="findNearestLocation">
    <complexType>
     <sequence>
      <element name="BaseLocation" type="impl:geoCoordinates"/>
      <element maxOccurs="unbounded" name="TargetLocations" type="impl:geoCoordinates"/>
      <element name="MeasurementUnit" type="xsd:string"/>
      <element name="maxCount" type="xsd:int"/>
      <element name="ProviderID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findNearestLocationResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="findNearestLocationReturn" type="impl:geoCoordinates"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="findNearestLocationRequest">

      <wsdl:part element="impl:findNearestLocation" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="findNearestLocationResponse">

      <wsdl:part element="impl:findNearestLocationResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getLocationBySearchResponse">

      <wsdl:part element="impl:getLocationBySearchResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getHistoryRequest">

      <wsdl:part element="impl:getHistory" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getStateListRequest">

      <wsdl:part element="impl:getStateList" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getLocationByPostalCodeResponse">

      <wsdl:part element="impl:getLocationByPostalCodeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDistanceResponse">

      <wsdl:part element="impl:getDistanceResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDistanceRequest">

      <wsdl:part element="impl:getDistance" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCountryListRequest">

      <wsdl:part element="impl:getCountryList" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTransactionHistoryRequest">

      <wsdl:part element="impl:getTransactionHistory" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getLocationBySearchRequest">

      <wsdl:part element="impl:getLocationBySearch" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTransactionHistoryResponse">

      <wsdl:part element="impl:getTransactionHistoryResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getHistoryResponse">

      <wsdl:part element="impl:getHistoryResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="GeowsException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getLocationByPostalCodeRequest">

      <wsdl:part element="impl:getLocationByPostalCode" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCountryListResponse">

      <wsdl:part element="impl:getCountryListResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getStateListResponse">

      <wsdl:part element="impl:getStateListResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="geo">

      <wsdl:operation name="getTransactionHistory">

         <wsdl:input message="impl:getTransactionHistoryRequest" name="getTransactionHistoryRequest"/>

         <wsdl:output message="impl:getTransactionHistoryResponse" name="getTransactionHistoryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getHistory">

         <wsdl:input message="impl:getHistoryRequest" name="getHistoryRequest"/>

         <wsdl:output message="impl:getHistoryResponse" name="getHistoryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getStateList">

         <wsdl:input message="impl:getStateListRequest" name="getStateListRequest"/>

         <wsdl:output message="impl:getStateListResponse" name="getStateListResponse"/>

         <wsdl:fault message="impl:GeowsException" name="GeowsException"/>

      </wsdl:operation>

      <wsdl:operation name="getCountryList">

         <wsdl:input message="impl:getCountryListRequest" name="getCountryListRequest"/>

         <wsdl:output message="impl:getCountryListResponse" name="getCountryListResponse"/>

         <wsdl:fault message="impl:GeowsException" name="GeowsException"/>

      </wsdl:operation>

      <wsdl:operation name="getDistance">

         <wsdl:input message="impl:getDistanceRequest" name="getDistanceRequest"/>

         <wsdl:output message="impl:getDistanceResponse" name="getDistanceResponse"/>

         <wsdl:fault message="impl:GeowsException" name="GeowsException"/>

      </wsdl:operation>

      <wsdl:operation name="getLocationByPostalCode">

         <wsdl:input message="impl:getLocationByPostalCodeRequest" name="getLocationByPostalCodeRequest"/>

         <wsdl:output message="impl:getLocationByPostalCodeResponse" name="getLocationByPostalCodeResponse"/>

         <wsdl:fault message="impl:GeowsException" name="GeowsException"/>

      </wsdl:operation>

      <wsdl:operation name="getLocationBySearch">

         <wsdl:input message="impl:getLocationBySearchRequest" name="getLocationBySearchRequest"/>

         <wsdl:output message="impl:getLocationBySearchResponse" name="getLocationBySearchResponse"/>

         <wsdl:fault message="impl:GeowsException" name="GeowsException"/>

      </wsdl:operation>

      <wsdl:operation name="findNearestLocation">

         <wsdl:input message="impl:findNearestLocationRequest" name="findNearestLocationRequest"/>

         <wsdl:output message="impl:findNearestLocationResponse" name="findNearestLocationResponse"/>

         <wsdl:fault message="impl:GeowsException" name="GeowsException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="geoSoapBinding" type="impl:geo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTransactionHistory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTransactionHistoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTransactionHistoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getHistory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getHistoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getHistoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStateList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStateListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStateListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="GeowsException">

            <wsdlsoap:fault name="GeowsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCountryList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCountryListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCountryListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="GeowsException">

            <wsdlsoap:fault name="GeowsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getDistance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDistanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDistanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="GeowsException">

            <wsdlsoap:fault name="GeowsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getLocationByPostalCode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLocationByPostalCodeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getLocationByPostalCodeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="GeowsException">

            <wsdlsoap:fault name="GeowsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getLocationBySearch">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLocationBySearchRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getLocationBySearchResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="GeowsException">

            <wsdlsoap:fault name="GeowsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="findNearestLocation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findNearestLocationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findNearestLocationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="GeowsException">

            <wsdlsoap:fault name="GeowsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="geoService">

      <wsdl:port binding="impl:geoSoapBinding" name="geo">

         <wsdlsoap:address location="https://geows.mit.edu/geows/services/geo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
